@font-face {
  font-family: DM Sans;
  src: url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap') format("opentype");
}

p
{
 font-family: 'DM Sans' ,'arial', sans-serif;;
  font-weight: bold;
  font-size: 23px;
}
.mainDiv
{
  padding: 50px;
  background-color:  #E5E5E5;
  border-radius: 10px;
}
