<div class="wrapped">
  <div>
    <div [ngStyle]="{marginTop:'40%'}">
      <a routerLink="" class="activeLink">
        <span [ngStyle]="{float:'left'}"><img [ngStyle]="{marginRight:'10px'}"
                                              src="../assets/dashboard.png">Dashboard</span></a>
      <a routerLink="wallet" class="link" >
        <span [ngStyle]="{float:'left'}"><img [ngStyle]="{marginRight:'10px'}"
                                              src="../assets/wallet.png">My Wallet</span></a>
      <a routerLink="bills" class="link"
              >
        <span [ngStyle]="{float:'left'}"><img [ngStyle]="{marginRight:'10px'}"
                                              src="../assets/payment.png">Payment</span></a>
      <div class="link"
        [ngStyle]="{fontWeight:'bold',fontSize:'20px', width:'284px', height:'60px', borderRadius:'5px', padding:'10px', color:'gray'}">
        <img [ngStyle]="{marginRight:'10px'}" src="../assets/invoice.png">Invoice
      </div>
      <div class="link"
        [ngStyle]="{fontWeight:'bold',fontSize:'20px', width:'284px', height:'60px', borderRadius:'5px', padding:'10px', color:'gray'}">
        <img [ngStyle]="{marginRight:'10px'}" src="../assets/settings.png">Setting
      </div>
      <div class="link"
        [ngStyle]="{fontWeight:'bold',fontSize:'20px', width:'284px', height:'60px', borderRadius:'5px', padding:'10px', color:'gray'}">
        <img [ngStyle]="{marginRight:'10px'}" src="../assets/payment.png">Transactions
      </div>
      <div [ngStyle]="{fontWeight:'bold', marginTop:'40px'}">Payment Admin Dashboard</div>

    </div>
  </div>
  <div >
    <router-outlet></router-outlet>



    </div>
  </div>


